.App {
   color: #333;
   border-radius: 4px;
   background: #28989e;
   margin: 2em;
   padding: 0 1em;
   min-height: 20em;
   min-width: 34em;
   box-shadow: 0 0 1em hsla(0,0%,0%,0.15);
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
.App > .todoList> li{
    background: #eee;
    margin-bottom: 10px;
    border-radius: 4px;
}


.App> h1{
  text-align: center;
  color: white;
}


